@import '../../../responsive.scss';

.page-container {
    padding-top: 12px;
    @include responsive-grid;
}

#search-spiner {
    width: 50px;
    height: 50px;

    top: 0;
    position: fixed;
    margin-top: 12px;
}

.config-flex {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.full-flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.form-full-width {
    width: 100%;
}

// Foot

.foot {
   width: 100%;
   height: 55px;
   
   position: fixed;
   bottom: 0;
   background-color: whitesmoke;
}

.options-flex {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    margin-top: 6px;
}

.btn {
    color: white;
    background-color: rebeccapurple;
    align-items: center;
}