<div class="page-container">

  <mat-spinner id='search-spiner' [diameter]="33" *ngIf="loading"></mat-spinner>

  <app-per-page class="config-flex" (eventPerPage)="eventPerPage($event)"></app-per-page>

  <div class="full-flex">
    <form class="form">
      <mat-form-field class="form-full-width" appearance="outline">
        <input matInput placeholder="Ingrese una comida" [(ngModel)]="search" name="search" (ngModelChange)="onChangeEvent()" >
      </mat-form-field>
    </form>
  </div>

  <app-data-list *ngIf="showData" [beers]="beers"></app-data-list>

</div>

<mat-toolbar class="foot">
  <div class="options-flex" *ngIf="showData">
    <button mat-icon-button class="btn" color="primary" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <mat-chip selected color="accent">
      {{page}}
    </mat-chip>
    
    <button mat-icon-button class="btn" color="primary" (click)="next()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</mat-toolbar>
