<mat-toolbar color="primary" class="flex-toolbar">
    <button mat-icon-button class="margin" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="margin" [routerLink]="['/search']">
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>