.example-spacer {
    flex: 1 1 auto;
}

.flex-toolbar {
    display: flex;
    justify-content: center;
}

.margin {
    margin-left: 44px;
    margin-right: 44px;

    background-color: rebeccapurple;
}