<div class="row card-flex">

  <mat-card class="card-margin" *ngFor="let beer of beers">
    <mat-card-title-group>
      <mat-card-title>{{beer.name}}</mat-card-title>
      <mat-card-subtitle>{{beer.tagline}}</mat-card-subtitle>
      <img class="image" src={{beer.image_url}} >
    </mat-card-title-group>

    <mat-chip-list >
      <mat-chip class="opac" color="primary" selected>ABV: {{beer.abv}}</mat-chip>
      <mat-chip class="opac" color="accent" selected>IBU: {{beer.ibu}}</mat-chip>
    </mat-chip-list>
  </mat-card>
  
</div>