
.card-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-bottom: 100px;
}

.card-margin {
    width: 400px;
    margin: 12px;
}

.image {
    height: 100px;
    background-repeat: no-repeat;
    background-size: auto 100%;

    margin-right: 24px;
}

.opac {
    opacity: 0.7;
}