
<form  #selectPerPage [formGroup]="perPageForm">
    <mat-form-field  appearance="standard" class="no-line text-end">
        <mat-label> Por Pagina </mat-label>
        <mat-select formControlName="pg">
            <mat-option *ngFor="let page of pages" [value]="page.value" (click)="changePerPage(page.value)">
                {{page.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
