$bp-mobile: 0px;
$bp-small: 450px;
$bp-medium: 720px;
$bp-large: 980px;
$bp-xlarge: 1600px;

$bp-small-down: 449.9px;
$bp-medium-down: 719.9px;
$bp-large-down: 979.9px;
$bp-xlarge-down: 1599.9px;

// Responsive layout mixins
@mixin responsive-mobile {
  @media (max-width: $bp-small-down) {
    @content;
  }
}

@mixin responsive-small-up {
  @media (min-width: $bp-small) {
    @content;
  }
}

@mixin responsive-small-down {
  @media (max-width: $bp-medium-down) {
    @content;
  }
}

@mixin responsive-small {
  @media (min-width: $bp-small) and (max-width: $bp-medium-down) {
    @content;
  }
}

@mixin responsive-medium-up {
  @media (min-width: $bp-medium) {
    @content;
  }
}

@mixin responsive-medium {
  @media (min-width: $bp-medium) and (max-width: $bp-large-down) {
    @content;
  }
}

@mixin responsive-medium-down {
  @media (max-width: $bp-large-down) {
    @content;
  }
}

@mixin responsive-large-up {
  @media (min-width: $bp-large) {
    @content;
  }
}

@mixin responsive-large {
  @media (min-width: $bp-large) and (max-width: $bp-xlarge-down) {
    @content;
  }
}

@mixin responsive-large-down {
  @media (max-width: $bp-xlarge-down) {
    @content;
  }
}

@mixin responsive-xlarge {
  @media (min-width: $bp-xlarge) {
    @content;
  }
}

// Responsive grid
@mixin responsive-grid {

  @include responsive-mobile {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include responsive-small {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include responsive-medium {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include responsive-large-up {
    padding-left: 64px;
    padding-right: 64px;
  }
}


