@import url(https://bootswatch.com/4/simplex/bootstrap.css);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: whitesmoke !important;
}