@import '../../../responsive.scss';

.page-container {
    padding-top: 20px;
    @include responsive-grid;
}

.full-flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.margin {
    margin-top: 48px;
}

.btn-margin {
    color: whitesmoke;
    background-color: rebeccapurple;
}