<div class="page-container">

  <div class="full-flex">
    <div class="card margin" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Beers </h2>
        <button mat-raised-button color="primary" [routerLink]="['/search']"> 
          <mat-icon>search</mat-icon>
          Bucar por comida 
        </button>
      </div>
    </div>
  </div>
    
</div>

